<div class="container">
    <div class="row">
      <div class="col-md-12">
         <nav class="navbar navbar-expand-md navbar-light bg-light">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navContent">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id ="navContent">
              <ul class="navbar-nav">
                <li class="nav-item">
                  <a class="nav-link" [routerLink]="['/login']">Login</a>
                </li>
              </ul>
              <ul class="navbar-nav">
                  <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/signup']">Sign-Up</a> 
                  </li>
                </ul>
            </div>
          </nav>
          <p class="text-center sub-heading mt-4">Sign-Up Here!</p>
        <form>
            <label for="first">
                Enter First Name:
              </label>
              <input type="text" class="form-control" name="firstName" [(ngModel)]="firstName" required>
              <br>
              <label for="last">
                  Enter Last Name:
                </label>
                <input type="text" class="form-control" name="lastName" [(ngModel)]="lastName" required>
                <br>
          <label for="email">
            Enter Email:
          </label>
          <input type="email" class="form-control" name="email" [(ngModel)]="email" required>
          <br>
          <label for="password">
              Enter Password:
            </label>
            <input type="password" class="form-control" name="password" [(ngModel)]="password" required>
            <br>
            <label for="phone">
                Enter Mobile Number:
              </label>
              <input type="text" class="form-control" name="phone" [(ngModel)]="phone" required>
              <br>
            <button class="btn btn-primary mb-5" (click)=signUp()>Sign Up</button>
        </form>
      </div>
    </div>
  </div>
